# Ignore everything
/*

# not .gitignore and README
!.gitignore
!README.md

# with Assets
!Assets/
!Packages/
!ProjectSettings/

# only relevant folders in Assets
Assets/*
!Assets/Scripts/
!Assets/Models/
!Assets/Editor/
!Assets/Materials/
!Assets/Prefabs/
!Assets/Resources/
!Assets/Scenes/

# with Logs
!Assets/Logs/
Assets/Logs/*
!Assets/Logs/obstacles.json
!Assets/Logs/trajectory_20250722_162624.json

# with python scripts
!*PythonTools/

# ignore tmp folder in Prefabs
Assets/Prefabs/tmp/